server:
  port: 8080

spring:
  application:
    name: user
  datasource:
    url: jdbc:postgresql://dpg-d23qi063jp1c73a8ta10-a.oregon-postgres.render.com:5432/userdb_uzyn?sslmode=require
    username: general
    password: rECxD46Fyl2zjHo7BUx9Y3XoiVSXDZUc
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: a7306251753@gmail.com
    password: ajgyjmlbuubcenqh
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true